<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>SeaBattle</title>
    <style type="text/css">
   #userTable, #enterRoom, #hello, #helpMess, #helpMess2, #helpMess3,  #center, #ships, #messageUser {
        display: flex;
        align-items: center;
        justify-content: center;
   }

   #button_4deck, #save {
    color: #fff;
    text-transform: uppercase;
    border: none;
    background: #0fc3f5;
    transition: .3;
    width: 190 px;
    height: 90px;
}
#button_4deck:hover, #save:hover {
    background: #4442db;
}
   table {
        border-collapse: collapse;
        table-layout: fixed;
        text-align: center;
   }
   th, td {
        border: 1px solid;
        max-width: 40px;
        max-height: 40px;
        width: 40px;
        height: 40px;
   }
   td {
        cursor: pointer;
    }
   .deck {
        width: 40px;
        height: 40px;
        font-size:24px;
        text-align: center;
        border: 1px solid;
        background: #f447ff;
   }
   .error-text {
        padding: 8px 0;
        border-radius: 5px;
        color: #fa0505;
        text-align: center;
   }
   #ships {
        display:inline-block; margin-right: 2em;
   }
  </style>
</head>
<body>

    <h1 id = "hello">Приветствую в морском бое!</h1>
    <h1 id = "enterRoom" th:text="|Ты зашел в комнату ${roomNumber} под игроком ${username}|"></h1>
    <h2 id = "helpMess">Тебе необходимо расставить корабли поочереди, нажав на клетку на твоем поле, (корабли выбираются автоматически).</h2>
    <h2 id = "helpMess2">После того как ты поставишь корабль, нажми кнопку СОХРАНИТЬ</h2>
    <h2 id = "helpMess3">Чтобы перевернуть корабль, нажмите еще раз на клетку</h2>
    <div class = "error-text">
        <p id="textError" style = "display: none;">Больше кораблей этого типа поставить нельзя! Нажмите сохранить или нажмите на начало одного из кораблей, чтобы убрать его!</p>
    </div>
    <div class = "error-text">
        <p id="textErrorShipLocation" style = "display: none;">Здесь нельзя поставить корабль! Или попробуйте перевернуть</p>
    </div>
    <div class = "error-text">
        <p id="textErrorShipCount" style = "display: none;">Поставьте еще один корабль этого типа!</p>
    </div>
    <div class = "error-text">
        <p id = "saveAllShips" style = "display: none;">Больше кораблей поставить нельзя! Сохраните все ваши корабли</p>
    </div>

    <h2 id = "messageUser">Поставьте четырехпалубный корабль!</h2>
    <div id = "center">
        <table id = "userTable">
        <tr>
            <th></th>
            <th>А</th>
            <th>Б</th>
            <th>В</th>
            <th>Г</th>
            <th>Д</th>
            <th>Е</th>
            <th>Ж</th>
            <th>З</th>
            <th>И</th>
            <th>К</th>
        </tr>
        <tr>
            <th>1</th>
            <td id = "11">&nbsp;</td>
            <td id = "12">&nbsp;</td>
            <td id = "13">&nbsp;</td>
            <td id = "14">&nbsp;</td>
            <td id = "15">&nbsp;</td>
            <td id = "16">&nbsp;</td>
            <td id = "17">&nbsp;</td>
            <td id = "18">&nbsp;</td>
            <td id = "19">&nbsp;</td>
            <td id = "110">&nbsp;</td>
        </tr>
        <tr>
            <th>2</th>
            <td id = "21">&nbsp;</td>
            <td id = "22">&nbsp;</td>
            <td id = "23">&nbsp;</td>
            <td id = "24">&nbsp;</td>
            <td id = "25">&nbsp;</td>
            <td id = "26">&nbsp;</td>
            <td id = "27">&nbsp;</td>
            <td id = "28">&nbsp;</td>
            <td id = "29">&nbsp;</td>
            <td id = "210">&nbsp;</td>
        </tr>
        <tr>
            <th>3</th>
            <td id = "31">&nbsp;</td>
            <td id = "32">&nbsp;</td>
            <td id = "33">&nbsp;</td>
            <td id = "34">&nbsp;</td>
            <td id = "35">&nbsp;</td>
            <td id = "36">&nbsp;</td>
            <td id = "37">&nbsp;</td>
            <td id = "38">&nbsp;</td>
            <td id = "39">&nbsp;</td>
            <td id = "310">&nbsp;</td>
        </tr>
        <tr>
            <th>4</th>
            <td id = "41">&nbsp;</td>
            <td id = "42">&nbsp;</td>
            <td id = "43">&nbsp;</td>
            <td id = "44">&nbsp;</td>
            <td id = "45">&nbsp;</td>
            <td id = "46">&nbsp;</td>
            <td id = "47">&nbsp;</td>
            <td id = "48">&nbsp;</td>
            <td id = "49">&nbsp;</td>
            <td id = "410">&nbsp;</td>
        </tr>
        <tr>
            <th>5</th>
            <td id = "51">&nbsp;</td>
            <td id = "52">&nbsp;</td>
            <td id = "53">&nbsp;</td>
            <td id = "54">&nbsp;</td>
            <td id = "55">&nbsp;</td>
            <td id = "56">&nbsp;</td>
            <td id = "57">&nbsp;</td>
            <td id = "58">&nbsp;</td>
            <td id = "59">&nbsp;</td>
            <td id = "510">&nbsp;</td>
        </tr>
        <tr>
            <th>6</th>
            <td id = "61">&nbsp;</td>
            <td id = "62">&nbsp;</td>
            <td id = "63">&nbsp;</td>
            <td id = "64">&nbsp;</td>
            <td id = "65">&nbsp;</td>
            <td id = "66">&nbsp;</td>
            <td id = "67">&nbsp;</td>
            <td id = "68">&nbsp;</td>
            <td id = "69">&nbsp;</td>
            <td id = "610">&nbsp;</td>
        </tr>
        <tr>
            <th>7</th>
            <td id = "71">&nbsp;</td>
            <td id = "72">&nbsp;</td>
            <td id = "73">&nbsp;</td>
            <td id = "74">&nbsp;</td>
            <td id = "75">&nbsp;</td>
            <td id = "76">&nbsp;</td>
            <td id = "77">&nbsp;</td>
            <td id = "78">&nbsp;</td>
            <td id = "79">&nbsp;</td>
            <td id = "710">&nbsp;</td>
        </tr>
        <tr>
            <th>8</th>
            <td id = "81">&nbsp;</td>
            <td id = "82">&nbsp;</td>
            <td id = "83">&nbsp;</td>
            <td id = "84">&nbsp;</td>
            <td id = "85">&nbsp;</td>
            <td id = "86">&nbsp;</td>
            <td id = "87">&nbsp;</td>
            <td id = "88">&nbsp;</td>
            <td id = "89">&nbsp;</td>
            <td id = "810">&nbsp;</td>
        </tr>
        <tr>
            <th>9</th>
            <td id = "91">&nbsp;</td>
            <td id = "92">&nbsp;</td>
            <td id = "93">&nbsp;</td>
            <td id = "94">&nbsp;</td>
            <td id = "95">&nbsp;</td>
            <td id = "96">&nbsp;</td>
            <td id = "97">&nbsp;</td>
            <td id = "98">&nbsp;</td>
            <td id = "99">&nbsp;</td>
            <td id = "910">&nbsp;</td>
        </tr>
        <tr>
            <th>10</th>
            <td id = "101">&nbsp;</td>
            <td id = "102">&nbsp;</td>
            <td id = "103">&nbsp;</td>
            <td id = "104">&nbsp;</td>
            <td id = "105">&nbsp;</td>
            <td id = "106">&nbsp;</td>
            <td id = "107">&nbsp;</td>
            <td id = "108">&nbsp;</td>
            <td id = "109">&nbsp;</td>
            <td id = "1010">&nbsp;</td>
        </tr>
    </table>
        <input  type = "button" id = "button_4deck" style = "display: none;" value = "СОХРАНИТЬ" onclick="plusCounter()"/>
        <input  type = "button" id = "save" style = "display: none;" value = "Сохранить все корабли" onclick="saveShips()"/>
    </div>
    <p id="coordinate"></p>

    <div id = "ships">
        <h3>Весь ваш флот</h3>
        <input  type = "text" id = "deck1" required="required" class="deck"/><input  type = "text" required="required" class="deck"/><input  type = "text" required="required" class="deck"/><input  type = "text" required="required" class="deck"/>
        <input  type = "text" id = "deck2" required="required" class="deck"/><input  type = "text" required="required" class="deck"/><input  type = "text" required="required" class="deck"/>
        <input  type = "text" id = "deck3" required="required" class="deck"/><input  type = "text" required="required" class="deck"/><input  type = "text" required="required" class="deck"/>
        </br> </br>
        <input  type = "text" id = "deck4" required="required" class="deck"/><input  type = "text" required="required" class="deck"/>
        <input  type = "text" id = "deck5" required="required" class="deck"/><input  type = "text" required="required" class="deck"/>
        <input  type = "text" id = "deck6" required="required" class="deck"/><input  type = "text" required="required" class="deck"/>
        <input  type = "text" id = "deck7" required="required" class="deck"/>
        <input  type = "text" id = "deck8" required="required" class="deck"/>
        <input  type = "text" id = "deck9" required="required" class="deck"/>
        <input  type = "text" id = "deck10" required="required" class="deck"/>
    </div>

    <div style = "display: none;">
        <input id = "roomNumber" type = "text" th:value = "${roomNumber}">
        <input id = "username" type = "text" th:value = "${username}">
    </div>
</body>
<script th:inline="javascript">
const url = '../../api/v1/seaBattle/';

let error = false;
let counter = 1;
let shipCount = 0;
let shipCountMax = 1;
let size;
let prei;
let prej;
let killi;
let killj;
let countOneShip = 0;
let vertShip = false;

document.querySelector('table').onclick = (event) => {
    if (counter < 11) {
        document.getElementById('button_4deck').style.display='';
        let cell = event.target;
          if (cell.tagName.toLowerCase() != 'td')
            return;
          let i = cell.parentNode.rowIndex;
          let j = cell.cellIndex;
          if(prei == i && prej == j) {
                makingShipsVert(i, j, size);
                return;
          }
          if (document.getElementById(i + '' + j).innerHTML !== '•' && document.getElementById(i + '' + j).style.backgroundColor !== "red") {
                prei = i;
                prej = j;
                document.getElementById('textErrorShipLocation').style.display='none';
                if(counter == 1) {
                    size = 4;
                } else if(counter == 2) {
                    size = 3;
                    shipCount = 0;
                    shipCountMax = 2;
                } else if(counter == 4) {
                    size = 2;
                    shipCount = 0;
                    shipCountMax = 3;
                } else if(counter == 5 || counter == 8 || counter == 9) {
                }else if(counter == 7) {
                    size = 1;
                    shipCount = 0;
                    shipCountMax = 4;
                }
                shipCount++;


                makingShips(i, j, size);
          } else {
                 document.getElementById('textErrorShipLocation').style.display='';
          }
      } else {
        document.getElementById('saveAllShips').style.display='';
      }
  }
 function plusCounter() {
    counter++;
    countOneShip = 0;
    document.getElementById('button_4deck').style.display='none';
    if(counter == 11) {
        document.getElementById('save').style.display='';
    }

    switch (counter) {
    case 1:
        document.getElementById('messageUser').innerHTML = 'Поставьте четырехпалубный корабль!';
        break;
    case 2:
    case 3:
        document.getElementById('messageUser').innerHTML = 'Поставьте трехпалубный корабль!';
        break;
    case 4:
    case 5:
    case 6:
        document.getElementById('messageUser').innerHTML = 'Поставьте двухпалубный корабль!';
        break;
    case 7:
    case 8:
    case 9:
    case 10:
       document.getElementById('messageUser').innerHTML = 'Поставьте однопалубный корабль!';
       break;
    }
}

function saveShips() {
    let shipArray = [];
    counter = 0;
    for(let i = 1; i < 11; i++) {
            for(let j = 1; j < 11; j++) {
            if(document.getElementById(i + '' + j).style.backgroundColor == "red") {
                let i_j = i + '_' + j;
                shipArray[counter] = i_j;
                counter++;
            }
        }
    }
    fetch(url + [[${roomNumber}]] + '/' + [[${username}]] + '/' + shipArray + '/ships', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    }
    })
    .then(response => {
        if(response.ok)  {
            response.json().then(function (data) {
                    let logInUrl = [[${roomNumber}]] + '/' + [[${username}]]+ '/field';
                    window.location.href = logInUrl;
            })
        }
        if(response.status === 400) {
            alert("Incorrect id data");
            }
        });
}
function makingShips( i,  j,  shipSize) {
    countOneShip++;
    if(countOneShip > 1 && error == false) {
        if(vertShip == false) {
            killShip(killi, killj, size);
        } else {
            killShipVert(killi, killj, size);
            vertShip = false;
        }
    }
    error = false;
    killi = i;
    killj = j;

    let firstSize = shipSize;
    if(shipSize == 1) {
         if (i == 10) {
            document.getElementById((i - 1)+ '' + j).innerHTML = "•";
         } else if (i == 1) {
            document.getElementById((i - 1) + '' + j).innerHTML = "•";
        } else {
         document.getElementById((i - 1)+ '' + j).innerHTML = "•";
         document.getElementById((i + 1) + '' + j).innerHTML = "•";
        }
    }
    if (j + shipSize > 10) {
        while(j + shipSize > 11) {
            j--;
            killj = j;
            if(j < 1) {
                document.getElementById('textErrorShipLocation').style.display='';
                counter--;
                return;
            }
        }
    }
        if(document.getElementById(i + '' + (j + shipSize - 1)).style.backgroundColor == "red" || document.getElementById(i + '' + (j + shipSize - 1)).innerHTML == "•"){
            while(document.getElementById(i + '' + (j + shipSize - 1)).style.backgroundColor == "red" || document.getElementById(i + '' + (j + shipSize - 1)).innerHTML == "•") {
               j--;
               killj = j;
               if(j < 1) {
                   document.getElementById('textErrorShipLocation').style.display='';
                   error = true;
                   counter--;
                   return;
               }
           }
           if(document.getElementById(i + '' + j ).style.backgroundColor == "red" || document.getElementById(i + '' + j).innerHTML == "•") {
                   document.getElementById('textErrorShipLocation').style.display='';
                   error = true;
                   counter--;
                   return;
           }
        }

            console.log(killj);
    while (shipSize !=0) {
        if(j > 10 || i > 10) {
            break;
        }
        if(i == 1) {
            if(j < 10) {
                document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "•";
            }
             if(j > 1) {
                document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "•";
                document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "•";
             }
        } else if(i == 10) {
                if(j > 1) {
                    document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "•";
                }
                if(j < 10) {
                    document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "•";
                }
        } else if (j == 10) {
            document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "•";
            document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "•";
        } else if(j == 1) {
            document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "•";
            if (i!=10) {
                document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "•";
            }
        }else {
            document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "•";
            document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "•";
            document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "•";
            document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "•";
       }
       if(i < 11 && i > 0 && j < 11 && j > 0)  {
            document.getElementById(i + '' + j).style.backgroundColor = "red";
       }
        shipSize--;
        j++;
    }
    if (j<11) {
        document.getElementById(i + '' + j).innerHTML = "•";
    }
    if(j-firstSize-1 > 0) {
        document.getElementById(i + '' + (j-firstSize-1)).innerHTML = "•";
    }
}
function makingShipsVert(i,  j,  shipSize) {
   error = false;
    vertShip = true;
    killShip(killi, killj, size);
    let firstSize = shipSize;
    while(i + shipSize > 11) {
        i--;
    }
    while (shipSize !=0) {
        if(j > 10 || i > 10) {
            break;
        }
        if(i == 1) {
            if(j < 10) {
                document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "•";
            }
             if(j > 1) {
                document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "•";
                document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "•";
             }
        } else if(i == 10) {
                if(j > 1) {
                    document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "•";
                }
                if(j < 10) {
                    document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "•";
                }
        } else if (j == 10) {
            document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "•";
            document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "•";
        } else if(j == 1) {
            document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "•";
            if (i!=10) {
                document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "•";
            }
        }else {
            document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "•";
            document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "•";
            document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "•";
            document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "•";
       }
       if(i < 11 && i > 0 && j < 11 && j > 0)  {
            document.getElementById(i + '' + j).style.backgroundColor = "red";
       }
        shipSize--;
        i++;
    }
    if (i<11) {
        document.getElementById(i + '' + j).innerHTML = "•";
    }
    if(i-firstSize-1 > 0) {
        document.getElementById((i-firstSize-1) + '' + j).innerHTML = "•";
    }
}

function killShipVert(i, j, shipSize) {
    let firstSize = shipSize;
    while(i + shipSize > 11) {
        i--;
    }
    while (shipSize !=0) {
        if(j > 10 || i > 10) {
            break;
        }
        if(i == 1) {
            if(j < 10) {
                document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "";
            }
             if(j > 1) {
                document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "";
                document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "";
             }
        } else if(i == 10) {
                if(j > 1) {
                    document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "";
                }
                if(j < 10) {
                    document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "";
                }
        } else if (j == 10) {
            document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "";
            document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "";
        } else if(j == 1) {
            document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "";
            if (i!=10) {
                document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "";
            }
        }else {
            document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "";
            document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "";
            document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "";
            document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "";
       }
       if(i < 11 && i > 0 && j < 11 && j > 0)  {
            document.getElementById(i + '' + j).style.backgroundColor = "white";
       }
        shipSize--;
        i++;
    }
    if (i<11) {
        document.getElementById(i + '' + j).innerHTML = "";
    }
    if(i-firstSize-1 > 0) {
        document.getElementById((i-firstSize-1) + '' + j).innerHTML = "";
    }
}

function killShip( i,  j,  shipSize) {
    shipCount--;
    let firstSize = shipSize;
    if(shipSize == 1) {
         if (i == 10) {
            document.getElementById((i - 1)+ '' + j).innerHTML = "";
         } else if (i == 1) {
            document.getElementById((i - 1) + '' + j).innerHTML = "";
        } else {
         document.getElementById((i - 1)+ '' + j).innerHTML = "";
         document.getElementById((i + 1) + '' + j).innerHTML = "";
        }
    }
    if (j + shipSize > 10) {
        while(j + shipSize > 11) {
            j--;
            if(j < 1) {
                document.getElementById('textErrorShipLocation').style.display='';
                counter--;
                return;
            }
        }
    } else {
        while(document.getElementById(i + '' + (j + shipSize)).style.backgroundColor == "red" || document.getElementById(i + '' + j).innerHTML == "•") {
           j--;
           if(j < 1) {
               document.getElementById('textErrorShipLocation').style.display='';
               counter--;
               return;
           }
       }
    }
    while (shipSize !=0) {
        if(j > 10 || i > 10) {
            break;
        }
        if(i == 1) {
            if(j < 10) {
                document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "";
            }
             if(j > 1) {
                document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "";
                document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "";
             }
        } else if(i == 10) {
                if(j > 1) {
                    document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "";
                }
                if(j < 10) {
                    document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "";
                }
        } else if (j == 10) {
            document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "";
            document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "";
        } else if(j == 1) {
            document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "";
            if (i!=10) {
                document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "";
            }
        }else {
            document.getElementById((i - 1)+ '' + (j - 1)).innerHTML = "";
            document.getElementById((i - 1)+ '' + (j + 1)).innerHTML = "";
            document.getElementById((i + 1)+ '' + (j + 1)).innerHTML = "";
            document.getElementById((i + 1)+ '' + (j - 1)).innerHTML = "";
       }
       if(i < 11 && i > 0 && j < 11 && j > 0)  {
            document.getElementById(i + '' + j).style.backgroundColor = "white";
       }
        shipSize--;
        j++;
    }
    if (j<11) {
        document.getElementById(i + '' + j).innerHTML = "";
    }
    if(j-firstSize-1 > 0) {
        document.getElementById(i + '' + (j-firstSize-1)).innerHTML = "";
    }
}

function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
</script>

</html>

