<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>SeaBattle</title>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>

        <style type="text/css">
    #field {
      display: flex;
      justify-content: center;
   }
   table {
        border-collapse: collapse;
        table-layout: fixed;
        text-align: center;
   }
   th, td {
        border: 1px solid;
        max-width: 40px;
        max-height: 40px;
        width: 40px;
        height: 40px;
   }
   #enemy td {
        cursor: pointer;
    }
   .deck {
        width: 40px;
        height: 40px;
        font-size:24px;
        text-align: center;
        border: 1px solid;
        background: #f447ff;
   }
   #3deck {
        display:inline-block; margin-right: 1em;
   }
    #user, #enemy {
        margin: 20px;
    }
    .nameField {
        display: flex;
        justify-content: center;

    }
   #enemyStep, #userStep, #helpMess {
        display: flex;
        align-items: center;
        justify-content: center;
   }
</style>

    </head>
    <body onload="makeField()">
    <h1 id = "helpMess" th:text="|Ты зашел в комнату ${roomNumber} под именем ${username}|"></h1>
    <h2 id = "enemyStep">Ход Противника</h2>
    <h2 id = "userStep">Твой ход</h2>

    <div id = "field">
        <fieldset id = "userField">
            <div id = "user">
                <h1 class = "nameField">Ваше поле</h1>
                <table id = "userTableField">
                    <tr>
                        <th></th>
                        <th>А</th>
                        <th>Б</th>
                        <th>В</th>
                        <th>Г</th>
                        <th>Д</th>
                        <th>Е</th>
                        <th>Ж</th>
                        <th>З</th>
                        <th>И</th>
                        <th>К</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td id = "11">&nbsp;</td>
                        <td id = "12">&nbsp;</td>
                        <td id = "13">&nbsp;</td>
                        <td id = "14">&nbsp;</td>
                        <td id = "15">&nbsp;</td>
                        <td id = "16">&nbsp;</td>
                        <td id = "17">&nbsp;</td>
                        <td id = "18">&nbsp;</td>
                        <td id = "19">&nbsp;</td>
                        <td id = "110">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td id = "21">&nbsp;</td>
                        <td id = "22">&nbsp;</td>
                        <td id = "23">&nbsp;</td>
                        <td id = "24">&nbsp;</td>
                        <td id = "25">&nbsp;</td>
                        <td id = "26">&nbsp;</td>
                        <td id = "27">&nbsp;</td>
                        <td id = "28">&nbsp;</td>
                        <td id = "29">&nbsp;</td>
                        <td id = "210">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td id = "31">&nbsp;</td>
                        <td id = "32">&nbsp;</td>
                        <td id = "33">&nbsp;</td>
                        <td id = "34">&nbsp;</td>
                        <td id = "35">&nbsp;</td>
                        <td id = "36">&nbsp;</td>
                        <td id = "37">&nbsp;</td>
                        <td id = "38">&nbsp;</td>
                        <td id = "39">&nbsp;</td>
                        <td id = "310">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td id = "41">&nbsp;</td>
                        <td id = "42">&nbsp;</td>
                        <td id = "43">&nbsp;</td>
                        <td id = "44">&nbsp;</td>
                        <td id = "45">&nbsp;</td>
                        <td id = "46">&nbsp;</td>
                        <td id = "47">&nbsp;</td>
                        <td id = "48">&nbsp;</td>
                        <td id = "49">&nbsp;</td>
                        <td id = "410">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td id = "51">&nbsp;</td>
                        <td id = "52">&nbsp;</td>
                        <td id = "53">&nbsp;</td>
                        <td id = "54">&nbsp;</td>
                        <td id = "55">&nbsp;</td>
                        <td id = "56">&nbsp;</td>
                        <td id = "57">&nbsp;</td>
                        <td id = "58">&nbsp;</td>
                        <td id = "59">&nbsp;</td>
                        <td id = "510">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td id = "61">&nbsp;</td>
                        <td id = "62">&nbsp;</td>
                        <td id = "63">&nbsp;</td>
                        <td id = "64">&nbsp;</td>
                        <td id = "65">&nbsp;</td>
                        <td id = "66">&nbsp;</td>
                        <td id = "67">&nbsp;</td>
                        <td id = "68">&nbsp;</td>
                        <td id = "69">&nbsp;</td>
                        <td id = "610">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td id = "71">&nbsp;</td>
                        <td id = "72">&nbsp;</td>
                        <td id = "73">&nbsp;</td>
                        <td id = "74">&nbsp;</td>
                        <td id = "75">&nbsp;</td>
                        <td id = "76">&nbsp;</td>
                        <td id = "77">&nbsp;</td>
                        <td id = "78">&nbsp;</td>
                        <td id = "79">&nbsp;</td>
                        <td id = "710">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td id = "81">&nbsp;</td>
                        <td id = "82">&nbsp;</td>
                        <td id = "83">&nbsp;</td>
                        <td id = "84">&nbsp;</td>
                        <td id = "85">&nbsp;</td>
                        <td id = "86">&nbsp;</td>
                        <td id = "87">&nbsp;</td>
                        <td id = "88">&nbsp;</td>
                        <td id = "89">&nbsp;</td>
                        <td id = "810">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td id = "91">&nbsp;</td>
                        <td id = "92">&nbsp;</td>
                        <td id = "93">&nbsp;</td>
                        <td id = "94">&nbsp;</td>
                        <td id = "95">&nbsp;</td>
                        <td id = "96">&nbsp;</td>
                        <td id = "97">&nbsp;</td>
                        <td id = "98">&nbsp;</td>
                        <td id = "99">&nbsp;</td>
                        <td id = "910">&nbsp;</td>
                    </tr>
                    <tr>
                        <th>10</th>
                        <td id = "101">&nbsp;</td>
                        <td id = "102">&nbsp;</td>
                        <td id = "103">&nbsp;</td>
                        <td id = "104">&nbsp;</td>
                        <td id = "105">&nbsp;</td>
                        <td id = "106">&nbsp;</td>
                        <td id = "107">&nbsp;</td>
                        <td id = "108">&nbsp;</td>
                        <td id = "109">&nbsp;</td>
                        <td id = "1010">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <fieldset id = "enemyField">
            <div id = "enemy">
                <h1 class = "nameField">Поле противника</h1>
                <table id = "enemyTableField">
            <tr>
                <th></th>
                <th>А</th>
                <th>Б</th>
                <th>В</th>
                <th>Г</th>
                <th>Д</th>
                <th>Е</th>
                <th>Ж</th>
                <th>З</th>
                <th>И</th>
                <th>К</th>
            </tr>
            <tr>
                <th>1</th>
                <td id = "e11">&nbsp;</td>
                <td id = "e12">&nbsp;</td>
                <td id = "e13">&nbsp;</td>
                <td id = "e14">&nbsp;</td>
                <td id = "e15">&nbsp;</td>
                <td id = "e16">&nbsp;</td>
                <td id = "e17">&nbsp;</td>
                <td id = "e18">&nbsp;</td>
                <td id = "e19">&nbsp;</td>
                <td id = "e110">&nbsp;</td>
            </tr>
            <tr>
                <th>2</th>
                <td id = "e21">&nbsp;</td>
                <td id = "e22">&nbsp;</td>
                <td id = "e23">&nbsp;</td>
                <td id = "e24">&nbsp;</td>
                <td id = "e25">&nbsp;</td>
                <td id = "e26">&nbsp;</td>
                <td id = "e27">&nbsp;</td>
                <td id = "e28">&nbsp;</td>
                <td id = "e29">&nbsp;</td>
                <td id = "e210">&nbsp;</td>
            </tr>
            <tr>
                <th>3</th>
                <td id = "e31">&nbsp;</td>
                <td id = "e32">&nbsp;</td>
                <td id = "e33">&nbsp;</td>
                <td id = "e34">&nbsp;</td>
                <td id = "e35">&nbsp;</td>
                <td id = "e36">&nbsp;</td>
                <td id = "e37">&nbsp;</td>
                <td id = "e38">&nbsp;</td>
                <td id = "e39">&nbsp;</td>
                <td id = "e310">&nbsp;</td>
            </tr>
            <tr>
                <th>4</th>
                <td id = "e41">&nbsp;</td>
                <td id = "e42">&nbsp;</td>
                <td id = "e43">&nbsp;</td>
                <td id = "e44">&nbsp;</td>
                <td id = "e45">&nbsp;</td>
                <td id = "e46">&nbsp;</td>
                <td id = "e47">&nbsp;</td>
                <td id = "e48">&nbsp;</td>
                <td id = "e49">&nbsp;</td>
                <td id = "e410">&nbsp;</td>
            </tr>
            <tr>
                <th>5</th>
                <td id = "e51">&nbsp;</td>
                <td id = "e52">&nbsp;</td>
                <td id = "e53">&nbsp;</td>
                <td id = "e54">&nbsp;</td>
                <td id = "e55">&nbsp;</td>
                <td id = "e56">&nbsp;</td>
                <td id = "e57">&nbsp;</td>
                <td id = "e58">&nbsp;</td>
                <td id = "e59">&nbsp;</td>
                <td id = "e510">&nbsp;</td>
            </tr>
            <tr>
                <th>6</th>
                <td id = "e61">&nbsp;</td>
                <td id = "e62">&nbsp;</td>
                <td id = "e63">&nbsp;</td>
                <td id = "e64">&nbsp;</td>
                <td id = "e065">&nbsp;</td>
                <td id = "e66">&nbsp;</td>
                <td id = "e67">&nbsp;</td>
                <td id = "e68">&nbsp;</td>
                <td id = "e69">&nbsp;</td>
                <td id = "e610">&nbsp;</td>
            </tr>
            <tr>
                <th>7</th>
                <td id = "e71">&nbsp;</td>
                <td id = "e72">&nbsp;</td>
                <td id = "e73">&nbsp;</td>
                <td id = "e74">&nbsp;</td>
                <td id = "e75">&nbsp;</td>
                <td id = "e76">&nbsp;</td>
                <td id = "e77">&nbsp;</td>
                <td id = "e78">&nbsp;</td>
                <td id = "e79">&nbsp;</td>
                <td id = "e710">&nbsp;</td>
            </tr>
            <tr>
                <th>8</th>
                <td id = "e81">&nbsp;</td>
                <td id = "e82">&nbsp;</td>
                <td id = "e83">&nbsp;</td>
                <td id = "e84">&nbsp;</td>
                <td id = "e85">&nbsp;</td>
                <td id = "e86">&nbsp;</td>
                <td id = "e87">&nbsp;</td>
                <td id = "e88">&nbsp;</td>
                <td id = "e89">&nbsp;</td>
                <td id = "e810">&nbsp;</td>
            </tr>
            <tr>
                <th>9</th>
                <td id = "e91">&nbsp;</td>
                <td id = "e92">&nbsp;</td>
                <td id = "e93">&nbsp;</td>
                <td id = "e94">&nbsp;</td>
                <td id = "e95">&nbsp;</td>
                <td id = "e96">&nbsp;</td>
                <td id = "e97">&nbsp;</td>
                <td id = "e98">&nbsp;</td>
                <td id = "e99">&nbsp;</td>
                <td id = "e910">&nbsp;</td>
            </tr>
            <tr>
                <th>10</th>
                <td id = "e101">&nbsp;</td>
                <td id = "e102">&nbsp;</td>
                <td id = "e103">&nbsp;</td>
                <td id = "e104">&nbsp;</td>
                <td id = "e105">&nbsp;</td>
                <td id = "e106">&nbsp;</td>
                <td id = "e107">&nbsp;</td>
                <td id = "e108">&nbsp;</td>
                <td id = "e109">&nbsp;</td>
                <td id = "e1010">&nbsp;</td>
            </tr>
        </table>
            </div>
        </fieldset>
    </div>
    </body>
    <script th:inline="javascript">
        const url = '../../../api/v1/seaBattle/';
        let stompClient = null;
        let socket;
        let userShot = false;
        let catchShot = false;



    document.querySelector('#enemy').onclick = (event) => {
        if(document.getElementById('userStep').style.display == '') {
            let cell = event.target;
            if (cell.tagName.toLowerCase() != 'td')
            return;
            let i = cell.parentNode.rowIndex;
            let j = cell.cellIndex;
            console.log(i + ' ' + j);
            shooting(i, j);
        }
    }

    function shooting(i, j) {
    userShot = true;

    fetch(url + [[${roomNumber}]] + '/' + [[${username}]] + '/' + i + '_' + j + '/shot', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    }
    })
    .then(response => {
        if(response.ok)  {
                checkShot(i, j);
        }
        if(response.status === 400) {
            alert("Incorrect id data");
            }
        });
    }

    function checkShot(i, j) {
        let symbol;
        fetch(url + [[${roomNumber}]] + '/' + [[${username}]] + '/' + i + '_' + j + '/checkShot', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
        })
             .then(response => {
                 if (response.ok) {
                     response.json().then(function (data) {
                        if(data === true) {
                            symbol = "❌";
                            document.getElementById('e' + i + '' + j).innerHTML = "❌";
                            document.getElementById('e' + i + '' + j).style.backgroundColor = "red";
                            catchShot = true;

                        } else {
                            document.getElementById('e' + i + '' + j).innerHTML = "•";
                            symbol = "•";
                            catchShot = false;
                        }
                        if (stompClient != null && userShot == true) {
                            sendShoot(i, j, symbol);
                        }
                  })
                 }
                if (response.status === 400){
                    alert("Incorrect data");
                }
            });
    }

    function makeField() {
       fetch(url + [[${roomNumber}]] + '/' + [[${username}]] + '/' + 'userFieldShips', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
        })
             .then(response => {
                 if (response.ok) {
                     response.json().then(function (data) {
                        if(data.length == 1) {
                           let logInUrl = '../../../SeaBattle/' + [[${roomNumber}]] + '?username=' + [[${username}]];
                           window.location.href = logInUrl;
                        }
                        for (var i = 0; i < data.length; i++) {
                            document.getElementById(data[i].x + '' + data[i].y).style.backgroundColor = "blue";
                        }
                  })
                 }
                if (response.status === 400){
                    alert("Incorrect data");
                }
            });
        takeEnemyShots();
        takeUserShots();
        connect();
    }
       function takeEnemyShots() {
        fetch(url + [[${roomNumber}]] + '/' + [[${username}]] + '/' + 'enemyFieldShots', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
        })
             .then(response => {
                 if (response.ok) {
                     response.json().then(function (data) {

                        for (var i = 0; i < data.length; i++) {
                            if(document.getElementById(data[i].x + '' + data[i].y).style.backgroundColor == "blue" || document.getElementById(data[i].x + '' + data[i].y).style.backgroundColor == "red") {
                                document.getElementById(data[i].x + '' + data[i].y).innerHTML = "❌";
                                document.getElementById(data[i].x + '' + data[i].y).style.backgroundColor = "red"
                            } else {
                                document.getElementById(data[i].x + '' + data[i].y).innerHTML = "•";
                            }
                        }
                  })
                 }
                if (response.status === 400){
                    alert("Incorrect data");
                }
            });
    }

       function takeUserShots() {
            fetch(url + [[${roomNumber}]] + '/' + [[${username}]] + '/' + 'userFieldShots', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
            })
                 .then(response => {
                     if (response.ok) {
                         response.json().then(function (data) {
                         let enemyShotCount = 0;
                         for(let i = 1; i < 11; i++) {
                                for(let j = 1; j < 11; j++) {
                                if(document.getElementById(i + '' + j).innerHTML != "&nbsp;") {
                                    enemyShotCount++;
                                }
                            }
                         }
                         let fullShots = data.length + enemyShotCount;
                         console.log(fullShots);
                            if(fullShots % 2 != 0 && [[${username}]] == 'user1') {
                                console.log("четное");
                                document.getElementById('userStep').style.display='';
                                document.getElementById('enemyStep').style.display='none';
                            } else if(fullShots % 2 == 0 && [[${username}]] == 'user2') {
                                console.log("не четное");
                                document.getElementById('userStep').style.display='';
                                document.getElementById('enemyStep').style.display='none';
                            } else {
                                document.getElementById('userStep').style.display='none';
                                document.getElementById('enemyStep').style.display='';
                            }
                            for (var i = 0; i < data.length; i++) {
                                checkShot(data[i].x, data[i].y);
                            }
                      })
                     }
                    if (response.status === 400){
                        alert("Incorrect data");
                    }
                });
       }

function connect() {
    socket = new SockJS('/gs-guide-websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/' + [[${roomNumber}]], function (shot) {

        if (JSON.parse(shot.body).symbol == "•") {
            if(document.getElementById('userStep').style.display=='' && catchShot == false) {
                document.getElementById('userStep').style.display='none';
                document.getElementById('enemyStep').style.display='';
            } else {
                document.getElementById('userStep').style.display='';
                document.getElementById('enemyStep').style.display='none';
            }
        }
            takeEnemyShots();
        });
    });
}
function sendShoot(i, j, symbol) {
    stompClient.send("/app/shots/" + [[${roomNumber}]], {}, JSON.stringify({'x': i, 'y':j, 'symbol': symbol}));
}
    </script>
</html>